body {
  font-family: 'Montserrat', sans-serif;
}

#container {
  /* border: 1px solid grey;
  height: 600px; */
  width: 960px;
  margin: 0 auto;
}

/* HEADER */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

#logo a {
  border: 3px solid #1d3557;
  color: #1d3557;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

/* NAVIGATION */
#main-menu ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
}

#main-menu ul li {
  position: relative;
}

#main-menu ul li a::after {
  background-color: #1d3557;
  bottom: -5px;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 0px;
}

#main-menu ul li a {
  color: #1d3557;
  font-weight: normal;
  padding: 8px 16px;
  text-decoration: none;
}

#main-menu ul li:hover a::after {
  width: 100%;
}
