body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  /* border: 1px solid grey;
  height: 600px; */
  width: 1200px;
  margin: 0 auto;
}

/* HEADER */

#header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0;
}

#logo a {
  border: 3px solid #1d3557;
  color: #1d3557;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  padding: 10px;
  text-decoration: none;
}

/* NAVIGATION */
#main-menu ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#main-menu ul li {
  position: relative;
}

#main-menu ul li a::after {
  background-color: #1d3557;
  bottom: -5px;
  content: '';
  height: 3px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 0px;
}

#main-menu ul li a {
  color: #1d3557;
  font-weight: normal;
  padding: 8px 16px;
  text-decoration: none;
}

#main-menu ul li:hover a::after {
  width: 100%;
}

/* FOOTER */

#footer {
  background-color: #1d3557;
  color: #f1faee;
  padding: 20px;
  text-align: center;
}

/* WELCOME SCREEN */

#welcome-screen #content {
  margin-top: -70px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-screen span {
  font-size: 14px;
  font-weight: lighter;
  text-transform: uppercase;
  color: #a8dadc;
}

#welcome-screen h1 {
  color: #1d3557;
  margin: 0;
}

#welcome-screen p {
  color: #1d3557;
  max-width: 500px;
  font-size: 20px;
}

#mountains-image {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(94% 0, 60% 100%, 20% 100%, 84% 0);
  z-index: -1;
}

#traveler-image {
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  clip-path: polygon(48% 0, 100% 68%, 100% 100%, 63% 100%, 40% 0);
  z-index: -1;
}
